
$clr-Primaire: #9356DC;
$clr-Secondaire: #FF79DA ;
$clr-Tertiaire:rgb(152, 226, 207);
$clr-icon: #7E7E7E;
$clr-map:#EAEAEA;
$clr-gris-clair: #F7F7F7;
$clr-white: white;
$clr-footer:#353535;
$linear-gradient:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$font-cursive: 'Shrikhand', cursive;

