@import "./rest";
@import "./var";
@import "./mixins";
@import "./keyframes";
@import"./responsive.scss";
@import"./loader.scss";

/**** header***/
.header{

  &__logo{
    @include headerLogo;
  }

  @include  header-page;

  &__map{
    @include headerMaps; 
  }
}

/* présentation entreprise*/
.Apropos{
@include apropos;

h1{
@media #{$meduim-screen} {   
font-size: 2em;
}
@media #{$large-screen} {   
font-size: 2.5em;
}
}
  &__btn{
    @media #{$large-screen} {   
    padding-bottom: 10px;
  }
    button{
      @include aproposBtn;
        &:hover {
          background-color: lighten($clr-Primaire, 10%);
          background-blend-mode: lighten;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        } 
    }
  }
}

/****Fonctionnement*****/
.functioning{ 
  @include functioning;
  &__steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
  @media #{$meduim-screen} {   
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
  }
  @media #{$large-screen} {   
    padding: 0px 0px;
    flex-flow: nowrap;
    flex-direction: row;
  }

    li{

      @media #{$meduim-screen} {
        width: 39%;
      }
      @media #{$large-screen} {
  
        padding: 25px 0px ;
      }
      @include functioningList;
        &:hover{
          background: $clr-gris-clair;
        }
        &:hover .fas{
          color:$clr-Primaire;
        }
    }
      @include functioningText;
  }
}
/****Restaurants*****/
.restaurant{
  background: $clr-gris-clair;

  h2{
    @media #{$meduim-screen} {   
      width: 95%;
      margin: auto;
    }
    @media #{$large-screen} {   
      width: 90%;
      margin: auto;
    }
  
  }
  @media #{$meduim-screen} {   
  padding: 0px 50px 0px 50px;
  }

  @media #{$large-screen} {   
  padding: 0px 55px 20px 55px;
  }
  &__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: auto;
    padding-bottom:40px ;

  @media #{$meduim-screen} {   
    flex-flow: row wrap;
    align-items: center;
    padding-bottom:20px ;
    justify-content: center;
  }
  @media #{$large-screen} {   
    flex-flow: row wrap;
    align-items: center;
    padding-bottom:20px ;
    justify-content:space-between;
    width: 90%;
    margin: auto;
    
  }
  }
}
.card {
  @include card;
  img {
    @include card-img ;
  }
  .new {
    @include badge-card;
  }
 
  @media #{$meduim-screen} {
    width: 40%;
  }
  @media #{$large-screen} {
    width: 40%;
  }
  .info{
    @include card-info;
    .like {
      @include heart;
    }
  }
}

/*******footer********/ 
footer {
  background-color: $clr-footer;
  padding: 25px;
  color:  $clr-white;
  h3{
    font-family: "Shrikhand", "sans-serif";
    padding: 5px 0px 20px 0px;
    font-size:1.2em;
    font-style: italic;
    font-weight: 400;
  @media #{$meduim-screen} {   
    padding: 0px;
  }
  @media #{$large-screen} {   
    padding: 0px 0px 0px 50px;
  }
  }
  @media #{$meduim-screen} {   
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media #{$large-screen} {   
    display: flex;
    flex-direction: row-reverse;
    padding: 35px 45px 15px 0px;
  }
  ul {
    @include footer-list;
  }
}

/*******pages restaurant*****/
.imgMenu {
  img{
    @include imgMenu;
  }
}
.nom-menu{
  h1{
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
    @media #{$meduim-screen} {   
      font-size: 1.75em;
    }
  }
  @include nom-menu;
}

.menu{
  @include menu-restaurant;
    &__restaurant{
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      @media #{$large-screen} {   
        width: 75%;
        margin: auto;
      }
    }
}

.plat {
  @include nom-plat;
  @include plat-prix;
  .check{
    @include checked;
  }
  .repas{
    @include repas;
    
    &:hover {
      padding-right: 80px;
      .check {
        opacity: 1;
        transform: translate(-50px);
      }
    }
    &:hover .fa-circle-check {
      animation: rotate 500ms ease-in-out;
    }
  }
}

.ligne{
  width: 40px;
  border: 2px solid $clr-Tertiaire;
  margin: 7px 0px;
}

.entrees{
  animation: fadein 3s ease-in-out;
}
.plats{
  animation: fadein 6s ease-in-out;
}
.desserts{
  animation: fadein 9s ease-in-out;
}

 /**bouton**/
.commande{
  display: flex;
  justify-content: center;
  background-color: $clr-gris-clair;

  @media #{$large-screen} {   
    padding: 0px 80px;
    width: 75%;
    margin: auto;
  }

  @media #{$meduim-screen} {   
    padding: 0px 80px;
    width: 75%;
    margin: auto;
  }
    &__btn{
      @include btn-commande; 
    }
} 
